<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>Spring Security Example</title>
</head>
<!-- 	<style>@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 800;
    font-style: normal;
	}</style> -->

<body>
	<h1 class="display-1">ACCESS-DENIED</h1>
	<h2>죄송합니다. 요청하신 페이지의 접근 권한이 없습니다.</h2>
	<p>
		방문하시려는 페이지의 접근 권한이 없습니다.
	</p>
</body>
</html>