<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Dashboard</title>

  <!-- Montserrat Font -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/styles1.css">
  <link rel="stylesheet" href="/css/header.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src='https://www.gstatic.com/charts/testing-loader.js'></script>

</head>
<style>
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 800;
    font-style: normal;
	}
/* @font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
} */

  #top5-chart {
    width: 100%;
    height: 300px;
  }
</style>

<body>
  <div class="grid-container">

    <!-- Header -->
   <div id="header">
      <a href="/home"> <img src="/img/logo.png" alt="" style="width: 150px"></a>
      <div class="wrap">
        <nav>
          <ul>
			<li sec:authorize="hasRole(T(com.smhrd7_hc.enums.MemberRole).SYSTEM)"><a href="/manager/"><span>Managerpage</span>대시보드</a></li>
			<li sec:authorize="hasRole(T(com.smhrd7_hc.enums.MemberRole).SYSTEM)"><a href="/manager/data"><span>Managerpage</span>분석데이터</a></li>
            <li sec:authorize="hasRole(T(com.smhrd7_hc.enums.MemberRole).MEMBER)"><a href="/myPage/mypage"><span>Mypage</span>마이페이지</a></li>
            <li sec:authorize="!hasRole(T(com.smhrd7_hc.enums.MemberRole).MEMBER)"><a href="/login"><span>Login</span>로그인</a></li>
            <li sec:authorize="hasRole(T(com.smhrd7_hc.enums.MemberRole).MEMBER)"><a href="/logout"><span>Logout</span>로그아웃</a></li>
            <li sec:authorize="!hasRole(T(com.smhrd7_hc.enums.MemberRole).MEMBER)"><a href="/join"><span>Join</span>회원가입</a></li>
          </ul>
        </nav>
      </div>
    </div> 

    <!-- End Header -->

    <!-- Sidebar -->

    <!-- End Sidebar -->

    <!-- Main -->
   <main class="main-container">
      <div class="main-title">
        <p class="font-weight-bold"> </p>
      </div>

      <div class="charts">

          <div class="charts2">
          <div class="charts-card">
            <p class="chart-title">회원가입자 정보</p>
            <table>
              <thead>
                <tr>
                
                  <th >아이디</th>
                  <th>성별</th>
                  <th>생일</th>
                  <th>거주지</th>
                  <th>가입날짜</th>

                </tr>
              </thead>
              
              <tbody>
                <tr th:each="member : ${memberList}">
                  <td th:text="${member.id}">아이디</td>
                  <td th:text="${member.gender}">성별</td>
                  <td th:text="${member.birthday}">생일</td>
                  <td th:text="${member.livingArea}">거주지</td>
                  <td th:text="${#temporals.format(T(java.time.LocalDateTime).ofInstant(member.indate.toInstant(), T(java.time.ZoneId).systemDefault()), 'yyyy-MM-dd HH:mm:ss')}">가입날짜</td>
                </tr>
              </tbody>
            </table>
            
          </div>
      
                 

          <div class="charts-card">
            <p class="chart-title"> 약 조회 데이터 분석 </p>
            <table>
              <thead>
                <tr>
                  <th>번호</th>
                  <th>아이디</th>
                  <th>조회날짜</th>
                  <th>예측값</th>
                  <th>예측확률</th>

                </tr>
              </thead>
              <tbody>
                <tr th:each="list : ${drugAccuracyLists}">
                  <td th:text="${list.idx}">번호</td>
                  <td th:text="${list.id.id}">아이디</td>
                  <td th:text="${#temporals.format(T(java.time.LocalDateTime).ofInstant(list.indate.toInstant(), T(java.time.ZoneId).systemDefault()), 'yyyy-MM-dd HH:mm:ss')}">조회날짜</td>
                  <td th:text="${list.drugCode}">예측값</td>
                  <td th:text="${list.accuracy}+'%'">예측확률</td>
                </tr>
              </tbody>
            </table>
          </div>
   
        
        
        
      </div>
   
    </main>

</body>

</html>