<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit</title>
    <link rel="stylesheet" href="/css/join.css">
    <link rel="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">


</head>

<body>

    <div id="header">

        <a href="/home"> <img src="/img/logo.png" alt="" style="width: 150px"></a>
        <div class="wrap">
            <nav>

                <ul>
                    <li><a href=""><span>Mypage</span>마이페이지</a></li>
                    <li><a href="/logout"><span>Logout</span>로그아웃</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <form action="update.php" method="post" class="container">

        <p>
            <!-- 회원 정보 -->
            수정할 회원정보를 입력해주세요
        </p>

        <!-- Collection of personal(member) information? -->
        <!-- 회원 정보 -->
        <div class="MemberInfo_box">

            <!-- 이메일 -->
            <div>
                <input type="text" placeholder="이메일" readonly name="id" th:value="${userInfo.id}">
                <p>이메일</p>
            </div>

            <!-- 비밀번호 -->
            <div>
                <input type="password" placeholder="비밀번호" name="pwd">
                <p>비밀번호 메세지</p>


            </div>

            <!-- 비밀번호 확인 -->
            <div>
                <input type="password" placeholder="비밀번호 확인" name="pwdResult">
                <p>비밀번호 확인 메세지</p>
                <i class="fa-solid fa-eye"></i>

            </div>

            <!-- 닉네임 -->
            <div>
                <input type="text" placeholder="닉네임" name="nickname" th:value="${userInfo.nickname}">
                <p>닉네임 메세지</p>
            </div>

            <!-- 전화번호 -->
            <div>
                <input type="date" placeholder="생년월일" name="birthday">
                <p>전화번호</p>
            </div>

            <!-- 성별 -->
			<select class="select" name="gender">
			  <option>성별</option>
			  <option value='male' th:selected="${userInfo.gender == 'male'}">남자</option>
			  <option value='female' th:selected="${userInfo.gender == 'female'}">여자</option>
			</select>

            <!-- 거주지 -->
			<select class="select" name="livingArea">
			  <option>거주지</option>
			  <option value='서울' th:selected="${userInfo.livingArea == '서울'}">서울</option>
			  <option value='부산' th:selected="${userInfo.livingArea == '부산'}">부산</option>
			  <option value='대구' th:selected="${userInfo.livingArea == '대구'}">대구</option>
			  <option value='인천' th:selected="${userInfo.livingArea == '인천'}">인천</option>
			  <option value='광주' th:selected="${userInfo.livingArea == '광주'}">광주</option>
			  <option value='대전' th:selected="${userInfo.livingArea == '대전'}">대전</option>
			  <option value='울산' th:selected="${userInfo.livingArea == '울산'}">울산</option>
			  <option value='강원' th:selected="${userInfo.livingArea == '강원'}">강원</option>
			  <option value='경기' th:selected="${userInfo.livingArea == '경기'}">경기</option>
			  <option value='경남' th:selected="${userInfo.livingArea == '경남'}">경남</option>
			  <option value='경북' th:selected="${userInfo.livingArea == '경북'}">경북</option>
			  <option value='전남' th:selected="${userInfo.livingArea == '전남'}">전남</option>
			  <option value='전북' th:selected="${userInfo.livingArea == '전북'}">전북</option>
			  <option value='제주' th:selected="${userInfo.livingArea == '제주'}">제주</option>
			  <option value='충남' th:selected="${userInfo.livingArea == '충남'}">충남</option>
			  <option value='충북' th:selected="${userInfo.livingArea == '충북'}">충북</option>
			</select>
            <div>
                <!-- 회원가입 -->
                <input type="button" value="수정하기" id="edit">
                

            </div>
            <div>
            <input type="button" value="탈퇴하기" id="remove">
        </div>
    </div>

    </form>
   <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
   <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
   <script type="text/javascript" src="/js/edit.js">

</script>
</script>
</body>

</html>