<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/scroll.css">
    <script class="u-script" type="text/javascript" src="/js/scroll.js" defer=""></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script class="u-script" type="text/javascript" src="/js/home.js" defer=""></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>

</head>
	<style>
	@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 800;
    font-style: normal;
	}
	</style>



<body>
    <div id="header">
        <a href="/home"> <img src="/img/logo.png" alt="" style="width: 150px"></a>
        <div class="wrap">
            <nav>

                <ul>
                	<li sec:authorize="hasRole(T(com.smhrd7_hc.enums.MemberRole).SYSTEM)"><a href="/manager/"><span>Managerpage</span>관리페이지</a></li>
                    <li sec:authorize="hasRole(T(com.smhrd7_hc.enums.MemberRole).MEMBER)"><a href="/myPage/mypage"><span>Mypage</span>마이페이지</a></li>
                    <li sec:authorize="!hasRole(T(com.smhrd7_hc.enums.MemberRole).MEMBER)"><a href="/login"><span>Login</span>로그인</a></li>
                    <li sec:authorize="hasRole(T(com.smhrd7_hc.enums.MemberRole).MEMBER)"><a href="/logout"><span>Logout</span>로그아웃</a></li>
                    <li sec:authorize="!hasRole(T(com.smhrd7_hc.enums.MemberRole).MEMBER)"><a href="/join"><span>Join</span>회원가입</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <button onclick="topFunction()" id="scrollToTopBtn" title="Go to top">Top</button>
    
    <div class="section" style="background-image: url('/img/background.jpg'); 
  background-size: cover; height:889px; padding-top:80px;">

        <!--First section-->
        <!-- 파일선택 -->

<!--         <div class="upload-btn-wrapper" style="top:280px; left:-41px">
            <input type="file" id="input_file" multiple="multiple" style="height: 100%; " />
            <button class="upload-btn" style="margin-left: 742px; margin-top: 0px;">파일선택</button>
            <form name="uploadForm" id="uploadForm" enctype="multipart/form-data" method="post">

        </div>
 		<div>
        <div id="dropZone" style="margin-top: 256px; margin-left: 700px; width: 450px; height: 200px; border-style: solid; border-color:  white; ">
            <div id="fileDragDesc"> 검색할 약 사진을 끌어서 추가할 수 있습니다.
            </div>
        </div>

	    <div>
            <table id="fileListTable" style= "width:100%; margin-left: 700px;" >
                <tbody id="fileTableTbody">

                </tbody>
       	
            </table>
            
        </div>
        	<button class="upload-btn" type="submit"  onclick="uploadFile(); return false;">파일업로드</button>
        <input type="button" onclick="uploadFile(); return false;" class="btn bg_01" value="파일 업로드" style="margin-left: 56%; margin-top:6px">
        </div>
        </form>

 -->
		<div style="margin-top:108px">
		 	<div class="upload-btn-wrapper" style="margin-left:682px">
		            <input type="file" id="input_file" multiple="multiple" style="height: 100%;" />
		            <button class="upload-btn">파일선택</button>
		        </div>
		        <br />
		        <br><br><br><br>
		    
		        <form name="uploadForm" id="uploadForm" enctype="multipart/form-data" method="post" style="text-align:-webkit-center;">
		    
		            <div id="dropZone" style="width: 500px; height: 300px; border-style: solid; border-color: white;">
		                <div id="fileDragDesc" style="color:white;">검색할 약 사진을 끌어서 추가할 수 있습니다. </div>
		            
		                
		                <table id="fileListTable" width="100%" border="0px">
		                    <tbody id="fileTableTbody">
		    
		                    </tbody>
		                </table>
		            </div>
		    
		        </form>
		        
		        
		      <button class="upload-btn" type="submit"  onclick="uploadFile(); return false;" style="margin-left: 1063px">파일업로드</button>
		
		</div>
















        <!-- 알약직접검색 -->
        <form action="/info" method="get">
        <div class="box">
            <input type="text" name="drugName" placeholder="알약 이름으로 검색하세요">
            <button class="upload-btn" type="submit">검색</button>
        </div>
        </form>
    </div>

        	<div id="map" style="width:auto;height:969px;"></div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=cdcd53cff82aeec615bc251258c0690d&libraries=services,clusterer,drawing"></script>
	<script type="text/javascript" src="./js/kakaomap.js"></script>

</body>

</html>