<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/header.css" media="screen">
    <link rel="stylesheet" href="/css/info.css" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
   <!--  <script src="http://code.jquery.com/jquery-latest.js"></script> -->
   <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <title>information</title>
</head>
	<style>
	@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 800;
    font-style: normal;
	}</style>

<body>
    <div style="height: 100vh; overflow: auto; position: relative;">

        <div id="header">
            <a href="/home"> <img src="/img/logo.png" alt="" style="width: 150px"></a>
            <div class="wrap">
                <nav>
                    <ul>
					<li sec:authorize="hasRole(T(com.smhrd7_hc.enums.MemberRole).MEMBER)"><a href="/myPage/mypage"><span>Mypage</span>마이페이지</a></li>
                    <li sec:authorize="!hasRole(T(com.smhrd7_hc.enums.MemberRole).MEMBER)"><a href="/login"><span>Login</span>로그인</a></li>
                    <li sec:authorize="hasRole(T(com.smhrd7_hc.enums.MemberRole).MEMBER)"><a href="/logout"><span>Logout</span>로그아웃</a></li>
                    <li sec:authorize="!hasRole(T(com.smhrd7_hc.enums.MemberRole).MEMBER)"><a href="/join"><span>Join</span>회원가입</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div style="margin-top: 130px;">
        <div class="container" style="height: 310px;">
            <div class="contents">
                <div class="image"><img name="pillImage" src="/img/195900001.jpg" alt="검색된 약사진"> </div>
                <p></p>
            </div>
        </div>
        
        
         	<div class="rating" style="justify-content: center; margin-bottom: 35px;">
                <button class="like"><i class="fa fa-thumbs-up"></i></button>
                <button class="dislike"><i class="fa fa-thumbs-down"></i></button>
            </div>
        
        <!-- tab기능구현 -->
        <div class="et-hero-tabs" style="position: sticky; top: 100px; margin-bottom: 20px; ">
            <div class="et-hero-tabs-container">
                <a class="et-hero-tab" href="#tab-제품명">제품명</a>
                <a class="et-hero-tab" href="#tab-업체명">업체명</a>
                <a class="et-hero-tab" href="#tab-효능">효능</a>
                <a class="et-hero-tab" href="#tab-사용법">사용법</a>
                <a class="et-hero-tab" href="#tab-복용전주의">복용전 주의</a>
                <a class="et-hero-tab" href="#tab-주의사항">주의사항</a>
                <a class="et-hero-tab" href="#tab-상호작용">상호작용</a>
                <a class="et-hero-tab" href="#tab-부작용">부작용</a>
                <a class="et-hero-tab" href="#tab-보관법">보관법</a>


                <span class="et-hero-tab-slider"></span>
            </div>
        </div>



        <!-- main -->
        <div class="et-main" style="width: 100%; overflow-y: auto;">


            <section id="main_section" style="padding-left:450px; padding-right:450px;">
                <article class="main_article" id="tab-제품명">
                    <h1 name="제품명">제품명</h1>
                </article>
                <article class="main_article" id="tab-업체명">
                    <h1 name="업체명">업체명</h1>
                </article>
                <article class="main_article" id="tab-효능">
                    <h1 name="효능">효능</h1>
                </article>
                <article class="main_article" id="tab-사용법">
                    <h1 name="사용법">사용법</h1>
                </article>
                <article class="main_article" id="tab-복용전주의">
                    <h1 name="복용전주의">복용전 주의</h1>
                </article>
                <article class="main_article" id="tab-주의사항">
                    <h1 name="주의사항">주의사항</h1>
      
                </article>
                <article class="main_article" id="tab-상호작용">
                    <h1 name="상호작용">상호작용</h1>
                </article>
                <article class="main_article" id="tab-부작용">
                    <h1 name="부작용">부작용</h1>
                </article>
                <article class="main_article" id="tab-보관법">
                    <h1 name="보관법">보관법 </h1>
                </article>
            </section>
        </div>
    </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script>
        $(function () {
            $('.et-hero-tabs-container > a').click(function () {
                $('html, body').animate({ scrollTop: $(this.hash).offset().top }, 300);
            });
        });

        // a 태그 클릭 시 해당 div로 스크롤 이동
        $(function () {
            $('.et-hero-tabs-container > a').click(function (e) {
                e.preventDefault();
                var targetId = $(this).attr('href');
                var targetOffset = $(targetId).offset().top - $('.et-hero-tabs').outerHeight(true);
                $('html, body').animate({
                    scrollTop: targetOffset
                }, 300);
            });
        });
    </script>
<script th:inline="javascript">
    /*<![CDATA[*/
        const userName = /*[[${#httpServletRequest.remoteUser}]]*/ '';
    	
        const drugData = JSON.parse(/*[[${data}]]*/).body.items[0];
    /*]]>*/
</script>
   <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script type="text/javascript" src="/js/info.js" defer></script>

</body>

</html>