<!DOCTYPE html>
<html lang="en">
<head>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/join.css" >
    <link rel="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">


</head>
<body>
    <div id="header">

        <a href="/home"> <img src="/img/logo.png" alt="" style="width: 150px"></a>
        <div class="wrap">
            <nav>

                <ul>
                    <li><a href=""><span>Mypage</span>마이페이지</a></li>
                    <li><a href="/login"><span>Login</span>로그인</a></li>
                    <li><a href="/join"><span>Join</span>회원가입</a></li>
                </ul>
            </nav>
        </div>
    </div>


    <!--  -->
    <form th:action="@{/join}" method="post" class="container"> <br>
        

        <!-- 이용약관 -->
        <p>
            약관 동의
        </p>

        <!-- terms and conditions -->
        <div class="TandC">

		<!-- Vertically centered modal -->
<div class="modal-dialog modal-dialog-centered">
  ...
</div>

<!-- Vertically centered scrollable modal -->
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
  ...
</div>
            <!-- 전체 동의 -->
            <div style="border-bottom: 1px solid gray;">
                <span>전체 동의</span>
                <input type="checkbox" name="che" id="allCheck">
            </div>

            <!-- 필수 1 -->
            <div>
                <span><strong>(필수)</strong> 이용약관에 동의 <button type="button" class="openBtn" >상세 보기</button> <div class="modal hidden">
                    <div class="bg"></div>
                    <div class="modalBox">
                      <p>여러분을 환영합니다.<br>
                 
이거뭐약(이하 ‘서비스’)을 이용해 주셔서 감사합니다. 본 약관은 다양한 이거뭐약 서비스의 이용과 관련하여 이거뭐약 서비스를 제공하는 실전융합프로젝트 팀 일석이조(이하 ‘일석이조’)와 이를 이용하는 이거뭐약 서비스 회원(이하 ‘회원’) 또는 비회원과의 관계를 설명하며, 아울러 여러분의 이거뭐약 서비스 이용에 도움이 될 수 있는 유익한 정보를 포함하고 있습니다.</p>
                      <button type="button" class="closeBtn">✖</button>
                    </div>
                  </div></span>
                <input type="checkbox" name="che" class="primary agree">
            </div>

            <!-- 필수 2 -->
            <div>
                <span><strong>(필수)</strong> 개인정보 수집 및 이용에 동의 <button type="button" class="openBtn">상세 보기</button> <div class="modal hidden">
                    <div class="bg"></div>
                    <div class="modalBox">
                      <p>이게뭐약(이하 회사)은 개인정보보호법 제30조에 따라 서비스 이용을 위한 아래 개인정보 수집.이용 동의를 받습니다.

<br>1. 개인정보의 처리목적
<br>회사는 다음의 목적을 위하여 개인정보를 처리하고 있으며, 다음의 목적 이외로는 이용하지 않습니다.
<br>① 이용자 식별 및 본인여부 확인
<br>② 목적 계약 이행을 위한 연락민원 등 고객 고충 처리
<br>③ 만14세 미만 아동인지 확인
<br>
<br>2. 개인정보 수집항목
<br>이메일, 닉네임, 법정 생년월일, 법정 성별, 법정 거주지
<br>
<br>3. 개인정보의 처리 및 보유기간
<br>회원탈퇴시 즉시 삭제</p>
                      <button type="button" class="closeBtn">✖</button>
                    </div>
                  </div></span>
                <input type="checkbox" name="che" class="primary agree">
            </div>
            <!-- 모달창 -->
         

            <!-- 선택 1 -->
            <div>
                <span>(선택) 마케팅 정보 수신 동의 - 이메일 <button type="button" class="openBtn">상세 보기</button>
                <div class="modal hidden">
                    <div class="bg"></div>
                    <div class="modalBox">
                      <p>본 마케팅 정보 수신에 대한 동의를 거부하실 수 있으며, 이 경우 회원가입은 가능하나 일부 서비스 이용 및 각종 광고, 할인, 이벤트 및 이용자 맞춤형 상품 추천 등의 서비스 제공이 제한될 수 있습니다.</p>
                      <button type="button" class="closeBtn">✖</button>
                    </div>
                  </div></span>
                <input type="checkbox" name="che" class="option agree">
            </div>

            <!-- 선택 2 -->
            <div>
                <span>(선택) 마케팅 정보 수신 동의 - SMS/MMS <button type="button" class="openBtn">상세 보기</button> <div class="modal hidden">
                    <div class="bg"></div>
                    <div class="modalBox">
                      <p>본 마케팅 정보 수신에 대한 동의를 거부하실 수 있으며, 이 경우 회원가입은 가능하나 일부 서비스 이용 및 각종 광고, 할인, 이벤트 및 이용자 맞춤형 상품 추천 등의 서비스 제공이 제한될 수 있습니다.</p>
                      <button type="button" class="closeBtn">✖</button>
                    </div>
                  </div></span>
                <input type="checkbox" id='Test' name="che" class="option agree">
            </div>

        </div>
        <p>
            <!-- 회원 정보 -->
            회원정보를 입력해주세요
        </p>
        
        <!-- Collection of personal(member) information? -->
        <!-- 회원 정보 -->
        <div class="MemberInfo_box">
            
            

            <!-- 이메일 -->
            
            <div th:if="${userInfo != null}">
                <input type="text" placeholder="이메일" name="id" readonly th:value="${userInfo.id}">
                <p>이메일</p>
            </div>
            <div th:if="${userInfo == null}">
                <input type="text" placeholder="이메일" name="id">
                <p>이메일</p>
            </div>
             
            <!-- 비밀번호 -->
            <div th:if="${userInfo != null}">
                <input type="password" placeholder="비밀번호" name="pwd" readonly th:value="${userInfo.pwd}">
                <p>비밀번호 메세지</p>
            </div>
            <div th:if="${userInfo == null}">
                <input type="password" placeholder="비밀번호" name="pwd">
                <p>비밀번호 메세지</p>
            </div>

            <!-- 비밀번호 확인 -->
            <div th:if="${userInfo != null}">
                <input type="password" placeholder="비밀번호 확인" name="pwdResult" readonly th:value="${userInfo.pwd}">
                <p>비밀번호 확인 메세지</p>
                <i class="fa-solid fa-eye"></i>
            </div>
            <div th:if="${userInfo == null}">
                <input type="password" placeholder="비밀번호 확인" name="pwdResult">
                <p>비밀번호 확인 메세지</p>
                <i class="fa-solid fa-eye"></i>
            </div>

            <!-- 닉네임 -->
            <div th:if="${userInfo != null}" >
                <input type="text" placeholder="닉네임" name="nickname" th:value="${userInfo.nickname}">
                <p>닉네임 메세지</p>
            </div>
            <div th:if="${userInfo == null}">
                <input type="text" placeholder="닉네임" name="nickname">
                <p>닉네임 메세지</p>
            </div>

            <!-- 전화번호 -->
            <div>
                <input type="date" placeholder="생년월일" name="birthday">
                <p>전화번호</p>
            </div>

            <!-- 성별 -->
            <select class="select" name="gender">
                <option>성별</option>
            <option value='male'>남자</option>
            <option value='female'>여자</option>
           
                </select>

            <!-- 거주지 -->
            <select class="select" name="livingArea">
                <option>거주지</option>
            <option value='서울'>서울</option>
            <option value='부산'>부산</option>
            <option value='대구'>대구</option>
            <option value='인천'>인천</option>
            <option value='광주'>광주</option>
            <option value='대전'>대전</option>
            <option value='울산'>울산</option>
            <option value='강원'>강원</option>
            <option value='경기'>경기</option>
            <option value='경남'>경남</option>
            <option value='경북'>경북</option>
            <option value='전남'>전남</option>
            <option value='전북'>전북</option>
            <option value='제주'>제주</option>
            <option value='충남'>충남</option>
            <option value='충북'>충북</option>
                </select>
            <div>
                <!-- 회원가입 -->
                <input type="submit" value="회원가입">
            </div>

        </div>

    </form>
   
   <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
   <script src="/js/post.js"></script>
   <script src="/js/join.js"></script>
</body>
</html>