<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css" >
    <script class="box" type="text/javascript" defer=""></script>
    
</head>
<style>
	@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 800;
    font-style: normal;
	}
</style>
<body>
    <div id="header">

        <a href="/home"> <img src="/img/logo.png" alt="" style="width: 150px"></a>
        <div class="wrap">
            <nav>

                <ul>
                    <li><a href="/myPage/mypage"><span>Mypage</span>마이페이지</a></li>
                    <li><a href="/login"><span>Login</span>로그인</a></li>
                    <li><a href="/join"><span>Join</span>회원가입</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="box">
        <h3>로그인</h3>
        <p>로그인하시면 다양한 서비스를 이용할 수 있습니다</p> <br>
        <form th:action="@{/loginProc}" method="post" class="loginform" >
	        <input type="text" placeholder="ID" name="username"/>
	        <input type="password" placeholder="Password" name="password"/> <br>
        	<input type="submit" value="로그인" class="login"/ style="width:276px;"> <br>
        </form>
        <a href="/join" class="loginform" ><button class="login" style="width:276px;">회원가입</button></a>  <br>

        <p1>----------------소셜로그인----------------</p1> <br>
        <div id="naverIdLogin" class="img_logo"></div>
        <a href="javascript:kakaoLogin();"><img src="/img/카카오.png" class="img_logo" /></a>
      
      </div>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
	<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
	<script src="/js/post.js"></script>
	<script src="/js/kakao.js"></script>
	<script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.0.js" charset="utf-8"></script>
	<script src="/js/naver.js"></script>
</body>

</html>