<!DOCTYPE html>
<html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<input type="number" name="pageNo"/>
	<button id="test">테스트</button><br>
	<p id="itemName"></p>
	<p id="itemSeq"></p>

	<img id="imgSrc" alt="" src=""><br>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
	<script th:inline="javascript">
    /*<![CDATA[*/
        const userName = /*[[${#httpServletRequest.remoteUser}]]*/ '';
    	
        const drugData = /*[[${data}]]*/ '';
    /*]]>*/
</script>
	<script type="text/javascript" src="/js/test.js"></script>
	

	

</body>
</html>